.ques_cont1{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont2{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont3{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont4{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont5{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont6{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont7{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont8{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}
.ques_cont9{
padding-left:150px;
padding-top:80px;
display: none;
  z-index: 1;
}